.place__image {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .place__image {
        max-height: 340px;
        margin-top: 15px;
    }

    .kosa-image {
        margin-top: 15px;
    }

    .baikal-image {
        margin-top: 15px;
    }
}

@media screen and (max-width: 426px) {
    .place__image {
        width: 100vw;
        max-height: 425px;
        margin-top: 32px;
    }
}
