@import url('./video-director/video__director.css');
@import url('./video-duration/video__duration.css');
@import url('./video-name/video__name.css');

.video-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}