@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');
@import url('./__content/video__content.css');

.video {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 102px;
}

@media screen and (max-width: 1283px) {

    .video {
        width: 92%;
    }
}

@media screen and (max-width: 1026px) {

    .video {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .video {
        width: 93%;
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 425px) {
    .video {
        width: 91%;
        margin-bottom: 64px;
    }
}
