@import url('../header/__logo/header__logo.css');
@import url('../header/__languages/languages.css');

.header {
    width: 82%;
    margin-bottom: 36px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1283px) {

    .header {
        width: 93%;
    }
}

@media screen and (max-width: 1026px) {

    .header {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {

    .header {
        width: 94%;
    }
}