@import url('./left/left.css');
@import url('./right/right.css');

.place {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0;
    margin-bottom: 85px;
}

@media screen and (max-width: 800px) {
    .place {
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 426px) {
    .place {
        flex-direction: column;
        margin-bottom: 24px;
    }
}
