.place__website {
    width: 483px;
    height: 18px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0;
    opacity: 1;
}

.place__website:hover {
    opacity: 0.7;
}
