@import url('./video-text/video-text.css');
@import url('./video__mask/video_mask.css');
@import url('./bg/video-bg.css');

.video__item {
    position: relative;
}

.kamchatka {
    margin-right: 18px;
}

@media screen and (max-width: 1024px) {
    .kamchatka {
        margin-right: 16px;
    }
}

@media screen and (max-width: 700px) {
    .kamchatka {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
