.intro__title {
    width: 100%;
    font-size: 54px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 36px;
    margin-top: 0;
}

@media screen and (max-width: 426px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}
